@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --primary-clr: #f16645;
  --primary-clr-light1: #f27559;
  --primary-clr-light2: '#f4856b';
  --black-text: #151515;
  --bg-gray: #ebebeb;
  --light-gray: #f8f9fa;
  --light-gray2: #474747;
  --dark-gray: #272829;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
