@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* header section - grid container */

.header-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  row-gap: 4rem;
  max-height: 45rem;
}
.header-card {
  grid-column: 1/3;
  grid-row: 1/3;
}
.hs-card-0 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.hs-card-1 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.hs-card-2 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.hs-card-3 {
  grid-column: 4/5;
  grid-row: 2/3;
}
